<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Click the button</h1>
        <strong><nav>
          <ul class="menu">
            <li>
                <form action="/sendClick" method="post">
                <button name="forwardBtn" type="submit">Click Me</button>
                </form>
            </li>
            <li><a href="http://google.com">About</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      "hello world"
    </div>
  </body>
</html>